
@{
    ViewBag.Title = "SliderImageManage";
}

<h2>SliderImageManage</h2>

<div ng-controller="imageUploadController as vm">

    <div class="row">
        <div class="col-md-12">
            <h3>{{vm.title}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <loading-spinner active="vm.spinner.active">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-11 col-xs-10">Name</div>
                            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">Size (kb)</div>
                            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">Added Date</div>
                            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">Active</div>
                            <div class="col-lg-2 col-md-2">Preview</div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">Remove</div>
                        </div>
                    </li>
                    <li class="list-group-item" ng-show="vm.photos.length === 0">no photos</li>
                    <li ng-repeat="photo in vm.photos" class="list-group-item">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-11 col-xs-10 wraptext">{{photo.ImageName}}</div>
                            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">{{photo.Size}}</div>
                            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">{{photo.AddedDate | date: short}}</div>
                            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
                                <input type="checkbox" ng-model="photo.Active" ng-change="vm.changeActiveImage(photo)" />
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <img ng-src="/Images/FullScreenSlider/{{photo.ImageName}}" style="max-height: 250px" class="img-responsive" />
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                                <button type="button" class="btn btn-xs btn-danger" ng-click="vm.remove(photo)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </loading-spinner>

            <form name="newPhotosForm" role="form" enctype="multipart/form-data">
                <div class="form-group" ng-hide="hasFiles">
                    <label for="newPhotos">Select and upload new photos</label>
                    <input type="file" id="newPhotos" class="btn btn-success" accept="image/*" ngf-select ng-model="files" ngf-multiple="true">
                </div>
                <div class="form-group">
                    <ul class="list-unstyled" ng-model="vm.files">
                        <li>
                            <strong>Files:</strong>
                        </li>
                        <li ng-repeat="photo in files"> {{photo.name}}</li>
                    </ul>
                    <input class="btn btn-primary" type="button" ng-click="vm.uploadFiles(files)" value="upload">
                    <input class="btn btn-warning" type="reset" value="cancel" />
                </div>
            </form>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs" style="height: 250px; margin-bottom: 5px; width: 250px;">
            <img ng-src="/Images/FullScreenSlider/{{vm.previewPhoto.Name}}" style="max-height: 250px" ng-show="vm.previewPhoto" class="img-responsive" alt="vm.previewPhoto.name" />
        </div>
    </div>
</div>

<script src="~/Scripts/AngularJS/angular.js"></script>
<script src="~/Scripts/AngularJS/angular-route.js"></script>
<script src="~/Scripts/AngularJS/ng-file-upload.js"></script>
<script src="~/Scripts/AngularJS/Admin/FullScreenSliderManage/app.js"></script>
<script src="~/Scripts/AngularJS/Admin/FullScreenSliderManage/Controller/ImageUploadController.js"></script>
<script src="~/Scripts/AngularJS/Admin/FullScreenSliderManage/Service/fileService.js"></script>
<script src="~/Scripts/jquery-2.2.0.js"></script>