
@{
    ViewBag.Title = "PlaceDetails";
    Layout = "";
}


<div>
    @ViewBag.Place.PlaceName
</div>
</br>
<div>
    @ViewBag.Place.Address
</div>
</br>
<div>
    @ViewBag.Place.Description
</div>
</br>
<div>
    @ViewBag.Place.QuickFacts
</div>


