
@{
    ViewBag.Title = "Place";
    Layout = "";
}

<div>
    @foreach (var item in ViewBag.Towns as List<SriLankanLifeVS.Controllers.VMTownInView>)
    {
        <div class="col-md-2 Destination-Items">
            <span>@Html.ActionLink(item.TownName, "PlacesInTown", new { id = item.Id })</span>
        </div>
    }
</div>